<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ShareDB Rich Text</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <link href="/quill.snow.css" rel="stylesheet">
    </head>
    <body>
        <div id="toolbar"></div>
        <div id="editor"></div>        

        <script>
            var id = "<%= id %>"
        </script>
        <script src="/dist/article-view.js"></script>
    </body>
</html>